<div class="container" style="min-height: 50vh">
    <div class="row justify-content-center align-items-center" style="height: 50vh;">
        <div class="col-10 col-md-6">
            <div class="alert alert-danger text-center" role="alert">
                <h4 class="alert-heading">Доступ заборонено!</h4>
                <p>Доступ дозволено тільки адміністратору.</p>
                <hr>
                <p class="mb-0">
                    Повернутися на <a href="/" class="alert-link">головну сторінку</a>.
                </p>
            </div>
        </div>
    </div>
</div>