<header class="d-none d-sm-block">
    <div class="jumbotron text-white text-center" style="background-image: url('/header.jpg'); background-size: cover; background-position: center;">
        <h1 class="display-4">{{zagolovok}}</h1>
        <p class="lead">Веб-сайт обліку конференцій закладів вищої освіти</p>
        <hr class="my-4">
    </div>
</header>

